<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>%ProductName%</string>
    <key>CFBundleName</key>
    <string>%ProductName%</string>
    <key>CFBundleShortVersionString</key>
    <string>0.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIdentifier</key>
    <string>com.example.%Company%</string>
    <key>CFBundleIconFile</key>
    <string>application-%ProjectName%.icns</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © %year%, %Company%</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.CHANGEME</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.6.6</string>
</dict>
</plist>
