<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>%{ProductName}</string>
	<key>CFBundleIconFile</key>
	<string>application-%{ProjectName}.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.%{Company}</string>
	<key>CFBundleName</key>
	<string>%{ProductName}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.CHANGEME</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © %{year}, %{Company}</string>
</dict>
</plist>
